<h1> Dashboard </h1> 

<%= form_with scope: @user, url:dashboard_path, method: :get, class:'form-inline my-2 my-lg-0' , local: true do |form| %>
    <%= form.text_field :search, class: "form-control mr-sm-2" %>
    <%= form.submit "search", class:"btn btn-outline-success my-2 my-sm-0" %>
<% end %>

<h2> Search Results </h2>
<div id="search-results" > 
    <%= render partial: '/users/search-results' %>
</div>

<br/>

<h2> Friends list </h2>
<p> Friends: <%= Friend.where(user_id: @user.id).count %> </p>

<% @friends.each do |friend| %>
    <div class = "d-inline-block">
        <div class="card border-dark mb-4 mr-2" style="width: 18rem; text-align:center">
            <div class="card-body">
                <h5 class="card-title"><%= User.find(friend.friends_with).name%></h5>
                <h5 class="card-title"></h5>
                <%= link_to 'View profile', user_path(friend.friends_with), class:"btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>